# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*

# Electron build outputs
dist/
out/
release/
build/

# Electron cache
.cache/
electron-cache/
electron-builder-cache/

# Binary artifacts
*.asar
*.dll
*.so
*.dylib

# Logs
*.log