# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node
node_modules/

# Env (çok kritik)
.env
.env.*

# Electron Builder build outputs
dist/
release/
build/

# Electron Builder cache
electron-builder-cache/
electron-builder-snap/
electron-builder/
.cache/

# Electron signing artifacts (sen zaten skip ediyorsun ama yine de ignore edilmeli)
*.pfx
*.pem
*.key

# Electron ASAR
*.asar
*.asar.unpacked

# Platform binaries
*.dll
*.so
*.dylib

# Temp
*.tmp
